<div id="diaries-show">
<div class="diary-day">
 <%= @diary.created_at.strftime("%Y/%-m/%-d") %>
</div>    
<h2 class="my-diary">日記</h2>


<hr>



<div class="diary-content">
 <%= @diary.content %><br />
</div>
<hr>
  <% if @diary.images.present? %>
    <div class="diary-images" oncontextmenu="return false;">
        <% @diary.images.each do |image| %>
            <%= image_tag image, class: "diary-show-image" %>
        <% end %>
    </div>        
  <% end %>

<!--<div class="diary-show-video-wrapper">-->
    <% if @diary.video.present? %>
        <%= video_tag @diary.video, :controls => true, class: "diary-show-video", :controlsList => "nodownload" %>
    <% end %>
<!--</div>-->
</div>



