<h1 class="my-diary">Diary</h1>
<p>Title</p><br />
<%= @diary.title %><br />

<%= @diary.content %><br />
<div class="diary-images">
<% if @diary.images.present? %>
    <% @diary.images.each do |image| %>
        <%= image_tag image, class: "diary-show-image" %>
    <% end %>
<% end %>
</div>

<% if @diary.videos.present? %>
    <% @diary.videos.each do |video| %>
        <%= video_tag video, class: "diary-show-video" %>
    <% end %>
<% end %>

<style>
    .my-diary {
        border-bottom: 1px solid gray;
    }
    .diary-show-image {
        width: 500px;
        height:400px;
        margin: 10px;
    }
</style>