
<div class="container-1">
  <%= image_tag "/images/phone-958066_1280.jpg", class: 'back-image-1'%>
  
  <div class="diary-info">
    <p class="box17">日本語で日記を書こう</p>
    
      <p class="info-1">写真、動画をつけて今日の一日を</br>
      日本語で共有しよう</p>
    
 </div>
</div>
<hr>
<div class="container-2">
  <%= image_tag "/images/office-620822_1920.jpg", class: 'back-image-2'%>
  <div class="task-info">
    <p class="box18">宿題を確認しよう</p>
    
     <p class="info-2">PDF、YouTube、オーディオの</p>
     <p class="info-2">宿題を確認できます</p>
    
 </div>
 
  
  
</div>
<hr>
  
  
