// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#nonsubmit {
  
    .search-form {
        margin-bottom: 10px;
    }
    .title {
        border-bottom: 1px solid gray;
        margin-bottom:10px;
    }
    
    .nonsubmit_title {
        margin-bottom:30px;
        margin-left: 30px;
    }
    .user-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid gray;
    }
    
    .user-name {
        display: inline-block;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .user-info {
        text-align: left;
        margin-bottom: 10px;
    }
    
    @media screen and (max-width:500px) {
        .title {
            text-align: left;
        }
        .nonsubmit_title {
            text-align: center;
        }
        
        .container {
            text-align: center;
        }
    }
  
  
  
}


#all-diaries {
  
   .pagination-footer {
     padding: 20px 0;
   }

    .nonsubmits {
      text-align: right;
      margin: 0 0 10px 0;
    }
    .container {
      border-radius: 10px;
      background: rgba(0, 220, 255, 0.5);
      
      h2 {
        padding: 20px 0 20px 0;
        margin: 0;
      }
    }

.post-light {
  float: right;
    }

.diaries_image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
    }

.media {
  padding: 10px;
  border-bottom: 1px solid gray;
}


a {
  color: #000;
  text-decoration: none;
}
.media:hover {
  // opacity: 0.5;
  background: rgba(0, 210, 255, 0.5);
}

.pagination {
  
}

@media screen and (max-width:500px) {
  
  .media {
    padding-bottom: 20px;
  }
  .media-images {
    height: 50px auto;
  }
  
  .diaries_image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    }
  
  }
}


  .diary_form {
    width: 80%;
    margin: 0 auto;
  }
  
  .submit {
    margin: 30px 0;  
  }
  
  
  
#new-diary {
  
  .container {
    border-radius: 10px;
    background: rgba(0, 220, 255, 0.5);
  }
}


#diaries-show {
  

  #diaries-show {
    margin: 0 0 50px 0;
  }
    
  .title {
    margin: 20px 0 0 0 ;
  }
  .my-diary {
    display: inline-block;
    pading: 0 0 0 30px;
    margin-button: 10px;
  }
  .diary-day {
    padding: 0 20px 0px 0;
    float: right;

  .diary-day::after {
    content: "";
    display: block;
    clear: both;
  }
    
    
  }
  .diary-content {
    margin: 30px 20px;
  }
  .diary-show-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 5px;
  }
    
  .diary-images {
    width: 100%;
    display: inline-block;
    height: 200px;
    overflow-x: scroll;
    white-space: nowrap; 
  }
    
    .diary-show-image:hover {
        /*width: 100%;*/
        /*height: auto;*/
    }
    
  .diary-show-video {
    display: block;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    
  }
 
}


#mydiary {
  .post-light {
    float: right;
  }
  
  .user-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid gray;  
  }
  
  .diary-container {
    border-radius: 10px;
    background: rgba(0, 220, 255, 0.5);
  }
  
  .my-diaries {
     margin-bottom: 20px;
  }
    
  .diaries_image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
    
    .media {
     padding: 10px;
     border-bottom: 1px solid gray;
    }
    
    a {
    color: #000;
    text-decoration: none;
    }
    
    .media:hover {
    background: rgba(0, 210, 255, 0.5);
    }
    
    @media screen and (max-width:500px) {
  
      .media {
        padding-bottom: 20px;
      }
      .media-images {
        height: 50px auto;
      }
  
      .diaries_image {
        width: 50px;
        height: 50px;
        border-radius: 5px;
      }
  
  }
  }



