// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-1 {
    // border-bottom: 1px solid gray;
}

.back-image-1 {
  width: 800px auto;
  height: 400px;
  margin-bottom: 15px;
}

.box17{
    margin: 20px;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    font-size: 25px;
    display: inline-block;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 5px; 
    padding: 0;
}

.diary-info {
    padding-top: 50px;
    display: inline-block;
}

.info-1 {
    text-align: center;
    margin: 0;
    font-size: 18px;
}

.container-2::after {
  content: "";
  display: block;
  clear: both;
//   border-bottom: 1px solid gray;
//   height: 430px;
}

.back-image-2 {
  width: 800px auto;
  height: 400px;
  margin-bottom: 15px ;
  margin-top: 20px;
  float: right;
}

.box18{
    margin: 20px;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    font-size: 25px;

}
.box18:before, .box18:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box18:before {left: 10px;}
.box18:after {right: 10px;}
.box18 p {
    margin: 5px; 
    padding: 0;
}

.task-info {
    padding-top: 50px;
    display: inline-block;
}

.info-2 {
    text-align: center;
    margin: 0;
    font-size: 18px;
}


@media screen and (max-width:375px) {
    .back-image-1 {
        margin:5px;
        height: auto;
        width: 100%;
        text-align: center;
    }
    
    .back-image-2 {
        
        height: auto;
        width: 100%;
    }
}